.table {
  margin: 0 auto 20px;
}

.today {
  background-color: #009e6c;
  color: #fff;
}

.in-prev-month,
.in-next-month {
  opacity: 0.5;
}

.date {
  cursor: pointer;
}

.selected {
  color: red !important;
  font-weight: 700 !important;
}
